body {
  font-family: Sans-Serif;
  font-size: 24px
}
.x-axis {
  height: 1.5em;
}

text {
  font-size: 20px
}

.plot-area {
  display: block;
  height: 400px;
}

.line, .area {
  stroke: blue;
  fill: blue;
}

table,td {
  border-collapse: collapse;
}
table, th, td {
  border: thin solid grey;
  padding: 5px;
}

div#table {
  padding: 20px;
}

td {
  text-align: right;
}
